[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "kriging"]
	path = kriging
	url = https://github.com/cran/kriging
	shallow = true
	registered = true
